/* Global Styles */

:root {
  --black-russian: #202124;
  --bg-color: #f1f3f4;
  --grey: #70757a;
  --border-lightgrey: #dadce0;
  --border-grey: rgba(218, 220, 224, 0.5);
  --anchor-blue: #1558d6;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  left: -625rem;
  width: 0.0625rem;
  height: 0.0625rem;
  top: auto;
  overflow: hidden;
}

/* clears the ‘X’ from Internet Explorer */

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-italic.woff2") format("woff2"),
    url("../fonts/roboto-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Mobile Layout */

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.container {
  max-width: 48rem;
  background-color: #fff;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Navigation Menu */

.header {
  background-color: #fff;
  margin-bottom: 0.5rem;
}

.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.85rem 0 1rem;
  margin-bottom: 2rem;
}

.menu-icon {
  position: absolute;
  top: 0.85rem;
  z-index: 1;
  left: 1rem;
  cursor: pointer;
}

.google-logo {
  width: 5.75rem;
  height: 1.875rem;
}

.navbar-header > .google-logo {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.nav-icon-big-container {
  display: flex;
  gap: 0.425rem;
  position: absolute;
  top: 0.65rem;
  right: 1rem;
}

.nav-icon-container {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.nav-icon-container:hover {
  background-color: var(--border-grey);
}

.nav-settings-icon,
.apps-icon {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.user-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-form {
  margin-bottom: 0.35rem;
}

.navbar-searchbar {
  display: flex;
  padding: 0.65rem;
  border-radius: 2rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(60, 64, 67, 0.15);
}

.divider {
  display: none;
}

.navbar-searchbar > .search-icon-blue,
.navbar-searchbar > .mic-icon {
  display: none;
  cursor: pointer;
}

#search {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  border: none;
  margin-left: 0.925rem;
  outline: none;
}

.nav-list {
  display: flex;
  gap: 1.35rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0 -1rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav-list::-webkit-scrollbar {
  display: none;
}

.nav-list-item {
  padding: 0.75rem 0;
}

.nav-list-item:first-of-type {
  margin-left: 1rem;
}

.nav-list-item:nth-of-type(9) {
  border-left: 0.0625rem solid #e0e0e0;
  padding-left: 1.35rem;
  margin-right: 1rem;
}

.nav-link {
  color: #707070;
  padding-bottom: 0.0625rem;
}

.active-link {
  color: var(--black-russian);
  border-bottom: 0.125rem solid var(--black-russian);
}

.nav-link-icon,
.nav-list-item:nth-of-type(10),
.nav-list-item:nth-of-type(11) {
  display: none;
}

.menu-bg {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.35s;
}

.menu-bg--active {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  position: fixed;
  height: 100%;
  top: 0;
  left: -15.625rem;
  z-index: 1;
  background-color: #fff;
  transition: left 0.5s;
}

.menu--active {
  left: 0;
}

.upper-menu {
  border-bottom: 0.0625rem solid var(--border-lightgrey);
}

.menu > .google-logo {
  margin: 1rem 1.5rem 0 1rem;
}

.upper-menu-list,
.lower-menu-list {
  padding: 1rem 1.5rem 1rem 1rem;
}

.upper-menu-link,
.lower-menu-link {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  padding: 0.75rem 0;
}

.upper-menu-link-text,
.lower-menu-link-text {
  padding-left: 1rem;
}

.search-results,
.navbar-fixed {
  display: none;
}

/* Site Card */

.site-card {
  background-color: #fff;
  padding: 0.75rem 0 0.5rem;
  margin-bottom: 0.5rem;
}

.site-card-header {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}

.site-card-inner-url {
  color: #717171;
}

.site-card-inner-url + .site-card-inner-url {
  display: none;
}

.site-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}

.site-card-link {
  display: block;
  font-size: 1.25rem;
  color: var(--anchor-blue);
  margin-bottom: 0.65rem;
}

.site-card-link:hover {
  text-decoration: underline;
}

.site-card-body-text,
.site-card-body-text-grey,
.site-card-body-date {
  font-size: 0.875rem;
  color: #3c4043;
  line-height: 1.45;
}

.site-card-body-text-grey,
.site-card-body-date {
  color: var(--grey);
}

.site-card-footer {
  margin-top: 0.25rem;
  padding: 0.5rem 0;
}

.site-card-footer-list {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0.875rem;
  color: var(--anchor-blue);
  margin: 0 -1rem;
  padding: 0 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.site-card-footer-list::-webkit-scrollbar {
  display: none;
}

.site-card-footer-list-item {
  padding: 0.35rem 0.45rem;
  border: 0.0625rem solid var(--border-lightgrey);
  border-radius: 0.25rem;
}

.site-card-footer-list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* People also ask - Accordion */

.accordion {
  padding: 0.75rem 0 0.5rem;
  margin-bottom: 0.5rem;
}

.accordion-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black-russian);
  margin-bottom: 1rem;
}

.accordion-body {
  border-bottom: 0.0625rem solid var(--border-lightgrey);
  margin-bottom: 0.5rem;
}

.accordion-item {
  border-top: 0.0625rem solid var(--border-lightgrey);
}

.accordion-item-header {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  cursor: pointer;
}

.accordion-item-header > .expand-more-icon {
  margin-left: auto;
  transition: all 0.35s;
}

.expand-more-icon--active {
  transform: rotate(-180deg);
}

.accordion-item-text {
  color: var(--black-russian);
  font-size: 0.875rem;
}

.accordion-item-card-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.accordion-item-card-container::-webkit-scrollbar {
  display: none;
}

.accordion-item-card-container--active {
  max-height: 28.125rem;
  animation: animationIn 0.35s;
}

.accordion-item-card {
  padding: 1rem;
  border: 0.0625rem solid var(--border-lightgrey);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.accordion-item-card-text {
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.accordion-item-card-text-second {
  font-size: 0.875rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

.accordion-item-card-list {
  font-size: 0.875rem;
  padding-left: 1.25rem;
}

.accordion-item-card-list-item {
  margin-bottom: 1rem;
}

.accordion-item-card-date {
  font-size: 0.875rem;
  color: #656565;
  margin-bottom: 0.25rem;
}

.accordion-item-card-date-second {
  font-size: 0.875rem;
  color: #656565;
  margin-bottom: 0.25rem;
}

.accordion-item-card-link-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.wix-site-logo {
  margin-top: 0.1rem;
}

.accordion-item-card-url {
  font-size: 0.75rem;
  color: var(--black-russian);
}

.accordion-item-card-link-title {
  font-size: 1.25rem;
  font-weight: 400;
  color: #4b11a8;
  line-height: 1.3;
  width: 19.375rem;
}

.accordion-item-more-results {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--anchor-blue);
  text-align: center;
  margin-bottom: 1rem;
}

.accordion-footer-text {
  font-size: 0.6875rem;
  font-style: italic;
  color: #757575;
  text-align: right;
}

/* Videos Section */

.videos {
  padding: 0.75rem 0 0.5rem;
  margin-bottom: 0.5rem;
}

.videos-icon {
  display: none;
}

.videos-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black-russian);
}

.videos-cards {
  margin-bottom: 0.85rem;
}

.videos-card {
  margin: 0.75rem -1rem 0;
  padding: 0 1rem 1rem;
  border-bottom: 0.0625rem solid var(--border-lightgrey);
}

.videos-card:last-of-type {
  border-bottom: none;
}

.videos-card-body {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.videos-card-body-thumbnail {
  position: relative;
  height: 4.75rem;
  cursor: pointer;
}

.videos-card-body-thumbnail-image {
  border-radius: 0.5rem;
}

.videos-card-body-thumbnail-play-button {
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.videos-card-body-thumbnail-length {
  position: absolute;
  left: 5%;
  bottom: 8%;
  font-size: 0.75rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.videos-card-body-text-title {
  font-size: 1rem;
  font-weight: 400;
  color: var(--anchor-blue);
  line-height: 1.3;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.videos-card-body-text-yt-channel,
.videos-card-body-text-date {
  font-size: 0.75rem;
  color: var(--grey);
}

.videos-card-body-text-yt-channel {
  cursor: pointer;
}

.videos-card-body-text-yt-channel-bold {
  color: var(--black-russian);
}

.videos-card-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 0.35rem 0.75rem;
  background-color: #f0f6fd;
  color: #4a4a4a;
  border-radius: 0.25rem;
  cursor: pointer;
}

.videos-card-footer::before {
  content: "";
  position: absolute;
  top: -0.43rem;
  left: 3.5rem;
  width: 0;
  height: 0;
  border-left: 0.375rem solid transparent;
  border-right: 0.375rem solid transparent;
  border-bottom: 0.4375rem solid #f0f6fd;
}

.videos-card-footer:hover {
  background-color: #e6eaef;
}

.videos-card-footer-text-key-moments-desktop {
  display: none;
}

.expand-videos-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.videos-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--black-russian);
  background-color: var(--bg-color);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.videos-more-expand-icon {
  transform: rotate(-90deg);
}

/* People also search for - Section */

.people-also-search {
  padding: 0.75rem 0 0.25rem;
  margin-bottom: 0.5rem;
}

.people-also-search-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black-russian);
  margin-bottom: 1rem;
}

.people-also-search-list-item {
  display: flex;
  gap: 1.25rem;
  padding: 0.85rem 0.5rem;
  border-top: 0.0625rem solid var(--border-lightgrey);
  cursor: pointer;
}

.people-also-search-list-item:hover {
  background-color: #f6f6f6;
}

.people-also-search-list-item > .search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.people-also-search-list-item-text {
  font-size: 0.875rem;
}

/* Related Searches - Search Card */

.search-card {
  padding: 0.75rem 0 0.5rem;
  margin-bottom: 1rem;
}

.search-card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black-russian);
  margin-bottom: 0.75rem;
}

.search-card-item {
  padding: 0.85rem 0.5rem;
  border-top: 0.0625rem solid var(--border-lightgrey);
}

.search-card-item-no-padding {
  padding: 0.85rem 0;
}

.search-card-item-no-padding:not(:first-child) {
  padding: 0.35rem 0;
}

.search-card-item--active {
  padding: 0.5rem 0;
}

.search-card-item-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-card-item-header-img-container {
  display: none;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0.25rem;
  margin-right: 0.625rem;
}

.search-card-item-header-img-container--active {
  display: flex;
  animation: animationIn 0.35s;
}

.go-daddy-logo {
  width: 2.5rem;
}

.search-card-item-header-title {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 1.5rem;
}

.search-card-item-header-title-margin {
  margin-left: 0.75rem;
}

.search-card-item-header > .search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.canva-icon,
.webflow-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.first-title {
  font-weight: 500;
  margin-left: 0;
}

.expand-icon {
  margin-left: auto;
  transform: rotate(180deg);
  transition: all 0.35s;
}

.expand-icon-down {
  transform: rotate(0deg);
}

.expand-icon--active {
  transform: rotate(360deg);
}

.search-card-item-container {
  height: 12.75rem;
  margin: 0 -1rem;
  padding: 0 1rem;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: height 0.35s;
}

.search-card-item-container--active {
  height: 0;
}

.search-card-item-list {
  display: flex;
  gap: 0.5rem;
  margin: 0.75rem -1rem 1.1rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-card-item-container::-webkit-scrollbar,
.search-card-item-list::-webkit-scrollbar {
  display: none;
}

.search-card-item-list-item {
  border: 0.0625rem solid #dedede;
  border-radius: 0.5rem;
}

.search-card-item-list-item:hover {
  cursor: pointer;
}

.search-card-item-list-item:first-of-type {
  margin-left: 1rem;
}

.search-card-item-list-item:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  border: none;
}

.search-card-item-list-item-img-container {
  display: grid;
  place-content: center;
  height: 6rem;
}

.search-card-item-list-item-logo {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.search-card-item-list-item-text {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.5rem;
}

.search-card-item-list-item-expand-icon {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.expand-icon-right {
  transform: rotate(-90deg);
}

.search-card-item-list-item-desc {
  font-size: 0.875rem;
  font-weight: 500;
  width: 4.9375rem;
}

.search-card-item-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid var(--border-lightgrey);
  border-radius: 2rem;
  margin: 1rem auto 0.25rem;
}

.search-card-item-footer-btn > .search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.search-card-item-footer-btn-text {
  color: #3c4043;
  font-size: 0.875rem;
  font-weight: 400;
}

.search-card-footer {
  padding-top: 0.5rem;
  border-top: 0.0625rem solid var(--border-lightgrey);
}

.search-card-footer-text {
  font-size: 0.6875rem;
  font-style: italic;
  text-align: right;
  color: grey;
}

.more-searches,
.pages {
  display: none;
}

/* Footer */

.footer-container {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.footer-header {
  display: none;
}

.more-results {
  margin-bottom: 2.5rem;
}

.more-results-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--black-russian);
  background-color: #fff;
  padding: 0.65rem 1rem;
  border: 0.0625rem solid var(--border-lightgrey);
  border-radius: 2rem;
}

.more-results-link > .expand-more-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.country {
  text-align: center;
  color: rgba(0, 0, 0, 0.55);
  padding-bottom: 0.5rem;
  border-bottom: 0.0625rem solid var(--border-lightgrey);
}

.language-options {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  border-bottom: 0.0625rem solid var(--border-lightgrey);
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.language-options-text-container {
  min-width: 5.43rem;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.55);
  padding: 1rem;
  border-right: 0.0625rem solid var(--border-lightgrey);
}

.language-options-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.875rem;
  color: var(--anchor-blue);
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-right: -2rem;
  padding-right: 2rem;
  padding-left: 1rem;
}

.language-options-list::-webkit-scrollbar {
  display: none;
}

.language-options-list-item:first-of-type {
  color: rgba(0, 0, 0, 0.87);
}

.language-options-list-item:last-of-type {
  padding: 0.35rem 0.5rem;
  border: 0.125rem solid var(--anchor-blue);
}

.zip-code {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.zip-code-circle {
  width: 0.625rem;
  height: 0.625rem;
  background-color: #6e6e6e;
  border-radius: 100%;
}

.zip-code-text {
  font-size: 0.875rem;
  font-weight: 500;
}

.zip-code-home,
.location {
  font-size: 0.875rem;
  color: #186ad6;
}

.country:hover,
.zip-code-home:hover {
  text-decoration: underline;
  cursor: pointer;
}

.location {
  text-align: center;
  margin-bottom: 1rem;
}

.mail-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.mail-section-text {
  color: #3c4043;
  font-weight: 600;
}

.mail-section-switch {
  color: #696e73;
}

.footer-list {
  display: flex;
  gap: 1rem 2rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto 2.5rem;
  color: #696e73;
  font-size: 0.875rem;
}

/* Large Mobile Layout (544w) */

@media (min-width: 34rem) {
  .footer-list {
    margin-bottom: 1.5rem;
  }
}

/* Tablet Layout (768w) */

@media (min-width: 48rem) {
  .container {
    border-radius: 0.75rem;
  }

  .language-options-text-container {
    padding: 1.5rem 1rem;
  }
}

/* Desktop Layout (1024w) */

@media (min-width: 64rem) {
  body {
    background-color: #fff;
  }

  .container {
    max-width: 43.5rem;
    margin: 0 0 0 10.25rem;
    border-radius: 0;
  }

  .header {
    border-bottom: 0.0625rem solid var(--border-grey);
    margin-bottom: 0.75rem;
  }

  .navbar {
    margin-left: -1rem;
  }

  .navbar-header {
    margin-bottom: 0;
  }

  .menu-icon {
    display: none;
  }

  .navbar-header > .google-logo {
    position: absolute;
    top: 2.25rem;
    left: 1.75rem;
    transform: translateY(0);
  }

  .nav-icon-big-container {
    top: 1.79rem;
    right: 1.5rem;
  }

  .nav-icon-container {
    width: 2.5rem;
    height: 2.5rem;
  }

  .nav-settings-icon,
  .apps-icon {
    display: block;
  }

  .navbar-form {
    max-width: 43.25rem;
    margin-top: -0.25rem;
    margin-bottom: 1rem;
    margin-left: -0.35rem;
  }

  .navbar-searchbar {
    width: 38.25rem;
    padding: 0.7rem 0.5rem 0.7rem 0.25rem;
    border-radius: 1.5rem;
    margin-left: 0.1rem;
    box-shadow: 0 0.125rem 0.3125rem 0.0625rem rgba(64, 60, 67, 0.16);
  }

  .navbar-searchbar:hover {
    box-shadow: 0 0.125rem 0.5rem 0.0625rem rgba(60, 64, 67, 0.24);
  }

  .navbar-searchbar > .search-icon {
    display: none;
  }

  .close-icon {
    margin-right: 0.75rem;
    cursor: pointer;
  }

  .divider {
    display: block;
    order: 1;
    border-left: 0.0625rem solid var(--border-lightgrey);
  }

  .navbar-searchbar > .mic-icon {
    display: block;
    order: 1;
    margin-left: 0.75rem;
  }

  .navbar-searchbar > .search-icon-blue {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    order: 2;
    margin: 0 0.5rem 0 1rem;
  }

  .nav-list {
    gap: 1.5rem;
    font-weight: 400;
    color: #5f6368;
    margin-left: 0;
  }

  .nav-list-item {
    padding-bottom: 0;
  }

  .nav-list-item:nth-of-type(3) {
    order: 1;
  }

  .nav-list-item:nth-of-type(5) {
    order: 1;
  }

  .nav-list-item:nth-of-type(6),
  .nav-list-item:nth-of-type(7),
  .nav-list-item:nth-of-type(8),
  .nav-list-item:nth-of-type(9) {
    display: none;
  }

  .nav-list-item:nth-of-type(10),
  .nav-list-item:nth-of-type(11) {
    display: block;
    order: 2;
  }

  .nav-list-item:nth-of-type(11) {
    margin-left: auto;
    margin-right: 1.85rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding-bottom: 0.65rem;
  }

  .active-link {
    color: #1a73e8;
    border-bottom: 0.1875rem solid #1a73e8;
  }

  .nav-link-icon {
    width: 1rem;
    height: 1rem;
    display: block;
    fill: #5f6368;
    margin-right: 0.3rem;
    margin-top: 0.1rem;
  }

  .nav-list-item:nth-of-type(10) .nav-link-icon {
    margin-right: 0;
  }

  .search-results {
    display: block;
    font-size: 0.875rem;
    color: var(--grey);
    margin-bottom: 0.5rem;
  }

  /* Fixed Navigation Bar */

  .navbar-fixed {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    max-height: 0;
    overflow: hidden;
  }

  .navbar-fixed--active {
    max-height: 13.25rem;
    overflow: auto;
    transition: max-height 0.35s;
  }

  .navbar-fixed .google-logo {
    margin: 0.788rem 0 0.588rem 1.75rem;
  }

  .navbar-fixed .navbar-form {
    margin: 0.1rem 0 0 2.35rem;
  }

  .navbar-fixed .navbar-searchbar {
    padding: 0.375rem 0.65rem 0.375rem 0.25rem;
    border: 1px solid #dfe1e5;
    border-radius: 1rem;
    box-shadow: none;
  }

  .navbar-fixed .navbar-searchbar:hover {
    border: none;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }

  .navbar-fixed .navbar-searchbar #search-fixed {
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    border: none;
    margin-left: 0.925rem;
    outline: none;
  }

  .navbar-fixed .navbar-searchbar .close-icon,
  .navbar-fixed .navbar-searchbar .mic-icon,
  .navbar-fixed .navbar-searchbar .search-icon-blue {
    width: 1.25rem;
    height: 1.25rem;
  }

  .navbar-fixed .navbar-searchbar .search-icon-blue {
    margin-left: 1.4rem;
  }

  .navbar-fixed-icons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
    margin-right: 1.75rem;
  }

  .navbar-fixed-icon-container {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .navbar-fixed-icon-container:hover {
    background-color: var(--border-grey);
  }

  .nav-fixed-settings-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .nav-fixed-apps-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .nav-fixed-user-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Site Card */

  .site-card {
    max-width: 37.5rem;
    margin-bottom: 0.75rem;
  }

  .site-card-header {
    margin-bottom: 0.25rem;
  }

  .site-icon,
  .site-card-inner-url-disabled {
    display: none;
  }

  .site-card-url {
    font-family: Arial, sans-serif;
    font-size: 0.875rem;
  }

  .site-card-inner-url {
    position: relative;
  }

  .site-card-inner-url + .site-card-inner-url {
    display: inline;
  }

  .more-results-btn {
    position: absolute;
    top: 0.5rem;
    right: -1rem;
    display: block;
    width: 0.5rem;
    height: 0.3125rem;
    border-style: solid;
    border-width: 0.3125rem 0.25rem 0 0.25rem;
    border-color: var(--grey) transparent;
  }

  .site-card-link {
    color: #660099;
    margin-bottom: 0.25rem;
  }

  .site-card-body-text {
    color: #4d5156;
    line-height: 1.6;
  }

  .site-card-footer {
    margin-top: 0;
    padding: 0.25rem 0 0 0;
  }

  .site-card-footer-list {
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

  .site-card-footer-list-item {
    padding: 0;
    border: none;
    color: #1a0dab;
  }

  .site-card-footer-list-item:nth-of-type(4),
  .site-card-footer-list-item:nth-of-type(5),
  .site-card-footer-list-item:nth-of-type(6),
  .site-card-footer-list-item:nth-of-type(7) {
    display: none;
  }

  /* People also ask - Accordion */

  .accordion-title {
    font-size: 1.375rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  .accordion-body {
    border-bottom: 0.0625rem solid var(--border-grey);
  }

  .accordion-item {
    border-top: 0.0625rem solid var(--border-grey);
  }

  .accordion-item-text {
    font-size: 1rem;
  }

  /* Videos Section */

  .videos {
    position: relative;
  }

  .videos::after {
    content: "";
    width: 41.5rem;
    height: 0.0625rem;
    position: absolute;
    bottom: 2.8rem;
    left: 0;
    background-color: var(--bg-color);
  }

  .videos-title-container {
    display: flex;
    gap: 0.85rem;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 0.0625rem solid var(--border-grey);
  }

  .videos-icon {
    display: block;
  }

  .videos-title {
    font-size: 1.375rem;
    font-weight: 400;
  }

  .videos-card {
    margin: 0.75rem 0 0;
    padding: 0 0 0.75rem;
    border-bottom: 0.0625rem solid var(--border-grey);
  }

  .videos-card-body-text-title {
    color: #1a0dab;
    margin-bottom: 1rem;
  }

  .videos-card-body-text-yt-channel {
    font-size: 0.875rem;
  }

  .videos-card-body-text-yt-channel-bold {
    color: var(--black-russian);
  }

  .videos-card-body-text-date {
    font-size: 0.875rem;
  }

  .videos-card-footer {
    padding: 0.65rem 1rem;
    border-radius: 0.5rem;
  }

  .videos-card-footer-text-left,
  .videos-card-footer-text-key-moments {
    display: none;
  }

  .videos-card-footer-text-key-moments-desktop {
    display: block;
    font-size: 0.875rem;
    color: #3c4043;
  }

  .videos-more {
    position: relative;
    max-width: 20rem;
    gap: 0.25rem;
    margin: 0 auto 1rem;
    z-index: 1;
  }

  .videos-more:hover {
    background-color: #e8eaeb;
  }

  .videos-more-expand-icon {
    margin-top: 0.15rem;
  }

  /* People also search for - Section */

  .people-also-search-title {
    font-size: 1.375rem;
    font-weight: 400;
  }

  .people-also-search-list-item {
    border-top: 0.0625rem solid var(--border-grey);
  }

  .people-also-search-list-item:last-of-type {
    border-bottom: 0.0625rem solid var(--border-grey);
  }

  /* Related Searches - Search Card */

  .search-card {
    margin: 2rem 0;
  }

  .search-card-title {
    font-size: 1.375rem;
    font-weight: 400;
  }

  .search-card-item {
    border-top: 0.0625rem solid var(--border-grey);
  }

  .search-card-item:nth-of-type(3) {
    border-bottom: 0.0625rem solid var(--border-grey);
  }

  .search-card-item:nth-of-type(4),
  .search-card-item:nth-of-type(5),
  .search-card-item:nth-of-type(6),
  .search-card-item:nth-of-type(7),
  .search-card-item:nth-of-type(8),
  .search-card-item:nth-of-type(9),
  .search-card-item:nth-of-type(10),
  .search-card-item-list-item:nth-of-type(7),
  .search-card-item-list-item:last-of-type {
    display: none;
  }

  .first-title--activated {
    font-weight: 400;
  }

  .search-card-item-list-item-text {
    font-weight: 400;
  }

  .more-searches {
    display: flex;
    gap: 0.75rem 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .more-searches-item {
    width: 19.875rem;
    min-height: 3.25rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--bg-color);
    padding: 0.25rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
  }

  .more-searches-item:hover {
    background-color: #e8eaeb;
  }

  .more-searches-item > .search-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .more-searches-item-text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-russian);
  }

  .pages {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .pages-icon-list {
    display: flex;
    justify-content: center;
    height: 40px;
  }

  .pages-icon-list-item {
    cursor: pointer;
  }

  .pages-icon-list-item:first-of-type {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -24px 0;
    width: 28px;
    cursor: auto;
  }

  .pages-icon-list-item:nth-of-type(2) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -53px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(3) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(4) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(5) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(6) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(7) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(8) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(9) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(10) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:nth-of-type(11) {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -74px 0;
    width: 20px;
  }

  .pages-icon-list-item:last-of-type {
    background-image: url(../images/nav-google-icons.webp);
    background-repeat: no-repeat;
    background-position: -95px 0;
    width: 72px;
  }

  .pages-list {
    display: flex;
    justify-content: center;
    gap: 0.725rem;
    font-size: 0.875rem;
    margin-top: -0.1rem;
  }

  .pages-list-item-activated {
    text-decoration: underline;
  }

  .pages-list-item:nth-of-type(3) {
    position: relative;
    left: 0.07rem;
  }

  .pages-list-item:nth-of-type(4) {
    position: relative;
    left: 0.07rem;
  }

  .pages-list-item:nth-of-type(5) {
    position: relative;
    left: 0.07rem;
  }

  .pages-list-item:nth-of-type(6) {
    position: relative;
    left: 0.1rem;
  }

  .pages-list-item:nth-of-type(7) {
    position: relative;
    left: 0.155rem;
  }

  .pages-list-item:nth-of-type(8) {
    position: relative;
    left: 0.2rem;
  }

  .pages-list-item:nth-of-type(9) {
    position: relative;
    left: 0.2rem;
  }

  .pages-list-item:last-of-type {
    position: relative;
    left: 2.75rem;
  }

  .pages-list-item-link {
    color: #2b69d2;
  }

  .pages-list-item-link:hover {
    text-decoration: underline;
  }

  .pages-list-item:first-of-type .pages-list-item-link {
    color: #000000;
  }

  .footer {
    background-color: #f2f2f2;
  }

  .footer-header {
    display: block;
    border-bottom: 0.0625rem solid var(--border-lightgrey);
  }

  .footer-header-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 43.5rem;
    padding: 0 1rem;
    margin: 0 0 0 10.25rem;
  }

  .country {
    font-family: Arial, sans-serif;
    font-size: 0.9375rem;
    padding: 1rem 1rem 1rem 0;
    border-bottom: none;
    border-right: 0.0625rem solid var(--border-lightgrey);
  }

  .zipcode-location-circle {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    background-color: #6e6e6e;
    border-radius: 100%;
  }

  .footer-container,
  .language-options,
  .zip-code,
  .location,
  .mail-section {
    display: none;
  }

  .footer-list {
    justify-content: flex-start;
    max-width: 43.5rem;
    padding: 1rem;
    margin: 0 0 0 10.25rem;
  }

  .footer-list-item {
    cursor: pointer;
  }

  .footer-list-item:hover {
    text-decoration: underline;
  }
}

/* Desktop (1200w) */

@media (min-width: 75rem) {
  .navbar-searchbar {
    width: 43.25rem;
  }
}

/* Keyframes */

@keyframes animationIn {
  0% {
    transform: translateX(-1rem);
    opacity: 0;
  }

  50% {
    transform: translateX(-0.5rem);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
