/* Global Styles */

:root {
  --bg-color: #f1f3f4;
  --anchor-blue: #1558d6;
  --border-lightgrey: #dadce0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

/* clears the ‘X’ from Internet Explorer */

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-italic.woff2") format("woff2"),
    url("../fonts/roboto-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Mobile Layout */

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.container {
  background-color: #fff;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Navigation Menu */

.header {
  margin-bottom: 0.5rem;
}

.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.85rem 0 1rem;
}

.menu-icon {
  position: absolute;
  z-index: 1;
  left: 1rem;
}

.google-logo {
  width: 5.75rem;
  height: 1.875rem;
}

.navbar-header > .google-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.user-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.navbar-form {
  margin-bottom: 0.35rem;
}

.navbar-searchbar {
  display: flex;
  padding: 0.65rem;
  border-radius: 2rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(60, 64, 67, 0.15);
}

#search {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  border: none;
  margin-left: 1rem;
}

.nav-list {
  display: flex;
  gap: 1.35rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0 -1rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav-list::-webkit-scrollbar {
  display: none;
}

.nav-list-item {
  padding: 0.75rem 0;
}

.nav-list-item:first-of-type {
  margin-left: 1rem;
}

.nav-list-item:last-of-type {
  border-left: 0.0625rem solid #e0e0e0;
  padding-left: 1.35rem;
  margin-right: 1rem;
}

.nav-link {
  color: #707070;
}

.active-link {
  color: #202124;
  border-bottom: 0.125rem solid #202124;
}

.menu-bg {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.35s;
}

.menu-bg--active {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  position: fixed;
  height: 100%;
  top: 0;
  left: -15.625rem;
  z-index: 1;
  background-color: #fff;
  transition: left 0.5s;
}

.menu--active {
  left: 0;
}

.upper-menu {
  border-bottom: 0.0625rem solid var(--border-lightgrey);
}

.menu > .google-logo {
  margin: 1rem 1.5rem 0 1rem;
}

.upper-menu-list,
.lower-menu-list {
  padding: 1rem 1.5rem 1rem 1rem;
}

.upper-menu-link,
.lower-menu-link {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  padding: 0.75rem 0;
}

.upper-menu-link-text,
.lower-menu-link-text {
  padding-left: 1rem;
}

/* Site Card */

.site-card {
  background-color: #fff;
  padding: 1rem 0 0.75rem;
  margin-bottom: 0.5rem;
}

.site-card-header {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.site-card-inner-url {
  color: #717171;
}

.site-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}

.site-card-link {
  display: block;
  font-size: 1.25rem;
  color: #4b11a8;
  margin-bottom: 0.65rem;
}

.site-card-body-text {
  font-size: 0.875rem;
  color: #3c4043;
  line-height: 1.45;
}

.accordion {
  padding: 0.75rem 0 0.5rem;
  margin-bottom: 0.5rem;
}

.accordion-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.accordion-body {
  border-bottom: 1px solid var(--border-lightgrey);
  margin-bottom: 0.5rem;
}

.accordion-item {
  border-top: 0.0625rem solid var(--border-lightgrey);
}

.accordion-item-header {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
}

.accordion-item-header > .expand-more-icon {
  margin-left: auto;
  transition: all 0.35s;
}

.expand-more-icon--active {
  transform: rotate(-180deg);
}

.accordion-item-text {
  color: #202124;
  font-size: 0.875rem;
}

.accordion-item-card-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.accordion-item-card-container::-webkit-scrollbar {
  display: none;
}

.accordion-item-card-container--active {
  max-height: 450px;
  animation: animationIn 0.35s;
}

.accordion-item-card {
  padding: 1rem;
  border: 1px solid var(--border-lightgrey);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.accordion-item-card-text {
  font-size: 0.875rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.accordion-item-card-text-second {
  font-size: 0.875rem;
  font-weight: normal;
  padding-bottom: 1rem;
}

.accordion-item-card-list {
  font-size: 0.875rem;
  padding-left: 1.25rem;
}

.accordion-item-card-list-item {
  margin-bottom: 1rem;
}

.accordion-item-card-date {
  font-size: 0.875rem;
  color: #656565;
  margin-bottom: 0.25rem;
}

.accordion-item-card-date-second {
  font-size: 0.875rem;
  color: #656565;
  margin-bottom: 0.25rem;
}

.accordion-item-card-link-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}

.wix-site-logo {
  margin-top: 0.1rem;
}

.accordion-item-card-url {
  font-size: 0.75rem;
  color: #202124;
}

.accordion-item-card-link-title {
  font-size: 1.25rem;
  font-weight: 400;
  color: #4b11a8;
  line-height: 1.3;
  width: 19.375rem;
}

.accordion-item-more-results {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1558d6;
  text-align: center;
  margin-bottom: 1rem;
}

.accordion-footer-text {
  font-size: 0.6875rem;
  font-style: italic;
  color: #757575;
  text-align: right;
}

/* Videos Section */

.videos {
  padding: 0.75rem 0 0.5rem;
  margin-bottom: 0.5rem;
}

.videos-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #202124;
}

.videos-cards {
  margin-bottom: 0.85rem;
}

.videos-card {
  margin: 0.75rem -1rem 0;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid var(--border-lightgrey);
}

.videos-card:last-of-type {
  border-bottom: none;
}

.videos-card-body {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.75rem;
}

.videos-card-body-thumbnail {
  position: relative;
  height: 76px;
}

.videos-card-body-thumbnail-image {
  border-radius: 0.5rem;
}

.videos-card-body-thumbnail-play-button {
  position: absolute;
  width: 2.1875rem;
  height: 2.1875rem;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.videos-card-body-thumbnail-length {
  position: absolute;
  left: 5%;
  bottom: 8%;
  font-size: 0.75rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.54);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}

.videos-card-body-text-title {
  font-size: 1rem;
  font-weight: 400;
  color: #1558d6;
  line-height: 1.3;
  margin-bottom: 0.25rem;
}

.videos-card-body-text-yt-channel,
.videos-card-body-text-date {
  font-size: 0.75rem;
  color: #70757a;
}

.videos-card-body-text-yt-channel-bold {
  color: #202124;
}

.videos-card-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  padding: 0.35rem 0.75rem;
  background-color: #f0f6fd;
  color: #4a4a4a;
  border-radius: 0.25rem;
}

.videos-card-footer::before {
  content: "";
  position: absolute;
  top: -0.43rem;
  left: 3.5rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 7px solid #f0f6fd;
}

.expand-videos-icon {
  width: 1.125rem;
  height: 1.125rem;
}

.videos-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: #202124;
  background-color: #f1f3f4;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.videos-more-expand-icon {
  transform: rotate(-90deg);
}

/* Related Searches - Search Card */

.search-card {
  padding: 1rem 0 0.5rem;
}

.search-card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #202124;
  margin-bottom: 0.75rem;
}

.search-card-item {
  padding: 0.85rem 0.5rem;
  border-top: 0.0625rem solid var(--border-lightgrey);
}

.search-card-item-no-padding {
  padding: 0.85rem 0;
}

.search-card-item-no-padding:not(:first-child) {
  padding: 0.35rem 0;
}

.search-card-item--active {
  padding: 0.5rem 0;
}

.search-card-item-header {
  display: flex;
  align-items: center;
}

.search-card-item-header-img-container {
  display: none;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0.25rem;
  margin-right: 0.625rem;
}

.search-card-item-header-img-container--active {
  display: flex;
  animation: animationIn 0.35s;
}

@keyframes animationIn {
  0% {
    transform: translateX(-1rem);
    opacity: 0.25;
  }

  50% {
    transform: translateX(-0.5rem);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.go-daddy-logo {
  width: 2.5rem;
}

.search-card-item-header-title {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 1.5rem;
}

.search-card-item-header-title-margin {
  margin-left: 0.75rem;
}

.search-card-item-header > .search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.canva-icon,
.webflow-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.first-title {
  font-weight: 500;
  margin-left: 0;
}

.expand-icon {
  margin-left: auto;
  transform: rotate(180deg);
  transition: all 0.35s;
}

.expand-icon-down {
  transform: rotate(0deg);
}

.expand-icon--active {
  transform: rotate(360deg);
}

.search-card-item-container {
  height: 12.75rem;
  margin: 0 -1rem;
  padding: 0 1rem;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: height 0.35s;
}

.search-card-item-container::-webkit-scrollbar {
  display: none;
}

.search-card-item-container--active {
  height: 0;
}

.search-card-item-list {
  display: flex;
  gap: 0.5rem;
  margin: 0.75rem -1rem 1.1rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-card-item-list::-webkit-scrollbar {
  display: none;
}

.search-card-item-list-item {
  border: 0.0625rem solid #dedede;
  border-radius: 0.5rem;
}

.search-card-item-list-item:first-of-type {
  margin-left: 1rem;
}

.search-card-item-list-item:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  border: none;
}

.search-card-item-list-item-img-container {
  display: grid;
  place-content: center;
  height: 6rem;
}

.search-card-item-list-item-logo {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.search-card-item-list-item-text {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.5rem;
}

.search-card-item-list-item-expand-icon {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.expand-icon-right {
  transform: rotate(-90deg);
}

.search-card-item-list-item-desc {
  font-size: 0.875rem;
  font-weight: 500;
  width: 4.9375rem;
}

.search-card-item-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid var(--border-lightgrey);
  border-radius: 2rem;
  margin: 1rem auto 0.25rem;
}

.search-card-item-footer-btn > .search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.search-card-item-footer-btn-text {
  color: #3c4043;
  font-size: 0.875rem;
  font-weight: 400;
}

.search-card-footer {
  padding-top: 0.5rem;
  border-top: 0.0625rem solid var(--border-lightgrey);
}

.search-card-footer-text {
  font-size: 0.6875rem;
  font-style: italic;
  text-align: right;
  color: grey;
}
