@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Global Styles */

:root {
  --bg-color: #f1f3f4;
  --anchor-blue: #1558d6;
  --border-lightgrey: #dadce0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Mobile Layout */

body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.header {
  margin-bottom: 0.5rem;
}

.container {
  background-color: #fff;
  padding: 0 1rem;
  margin: 0 auto;
}

.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.85rem 0 1rem;
}

.menu-icon {
  position: absolute;
  z-index: 1;
  left: 1rem;
}

.google-logo {
  width: 5.75rem;
  height: 1.875rem;
}

.navbar-header > .google-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.user-icon {
  border-radius: 50%;
}

.navbar-form {
  margin-bottom: 0.35rem;
}

.navbar-searchbar {
  display: flex;
  padding: 0.65rem;
  border-radius: 2rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(60, 64, 67, 0.15);
}

#search {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  border: none;
  margin-left: 1rem;
}

.nav-list {
  display: flex;
  gap: 1.35rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0 -1rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav-list::-webkit-scrollbar {
  display: none;
}

.nav-list-item {
  padding: 0.75rem 0;
}

.nav-list-item:first-of-type {
  margin-left: 1rem;
}

.nav-list-item:last-of-type {
  border-left: 1px solid #e0e0e0;
  padding-left: 1.35rem;
  margin-right: 1rem;
}

.nav-link {
  color: #707070;
}

.active-link {
  color: #202124;
  border-bottom: 0.125rem solid #202124;
}

.menu-bg {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
}

.menu-bg--active {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  position: absolute;
  height: 100%;
  top: 0;
  left: -15.625rem;
  z-index: 1;
  background-color: #fff;
  transition: left 0.5s;
}

.menu--active {
  left: 0;
}

.upper-menu {
  border-bottom: 1px solid var(--border-lightgrey);
}

.menu > .google-logo {
  margin: 1rem 1.5rem 0 1rem;
}

.upper-menu-list,
.lower-menu-list {
  padding: 1rem 1.5rem 1rem 1rem;
}

.upper-menu-link,
.lower-menu-link {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  padding: 0.75rem 0;
}

.upper-menu-link-text,
.lower-menu-link-text {
  padding-left: 1rem;
}

.site-card {
  background-color: #fff;
  padding: 1rem 0 0.75rem;
  margin-bottom: 0.5rem;
}

.site-card-header {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.site-card-inner-url {
  color: #808080;
}

.site-icon {
  height: 1rem;
  margin-right: 0.75rem;
}

.site-card-link {
  display: block;
  font-size: 1.25rem;
  color: #4b11a8;
  margin-bottom: 0.65rem;
}

.first-card-body {
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #dedede;
  margin-bottom: 1rem;
}

.site-card-body-text {
  font-size: 0.875rem;
  color: #3c4043;
  line-height: 1.45;
}

.search-card {
  padding: 1rem 0 0.5rem;
}

.search-card-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #202124;
  margin-bottom: 0.75rem;
}

.search-card-body-item {
  padding: 0.85rem 0;
  border-top: 1px solid var(--border-lightgrey);
}

.search-card-body-item:not(:first-child) {
  padding: 0.85rem 1rem;
}

.search-card-body-item-header {
  display: flex;
  align-items: center;
}

.search-card-body-item-header > .search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.search-card-body-item-header-title {
  font-size: 0.875rem;
  margin-left: 1rem;
}

.search-card-body-item-header-title:first-child {
  margin-left: 0;
  font-weight: 500;
}

.expand-icon {
  margin-left: auto;
  transform: rotate(180deg);
  transition: all 0.2s;
}

.expand-icon--active {
  transform: rotate(360deg);
}

.search-card-body-item-container {
  height: 184px;
  transition: height 0.2s;
}

.search-card-body-item-container--active {
  height: 0;
  overflow: hidden;
}

.search-card-body-item-list {
  display: flex;
  gap: 0.5rem;
  margin: 0.75rem -1rem 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.search-card-body-item-list::-webkit-scrollbar {
  display: none;
}

.search-card-body-item-list-item {
  border: 1px solid #dedede;
  border-radius: 0.5rem;
}

.search-card-body-item-list-item:first-of-type {
  margin-left: 1rem;
}

.search-card-body-item-list-item:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  border: none;
}

.search-card-body-item-list-item-img-container {
  display: grid;
  place-content: center;
  height: 96px;
}

.search-card-body-item-list-item-logo {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.search-card-body-item-list-item-text {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.5rem;
}

.search-card-body-item-list-item-expand-icon {
  display: grid;
  place-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f3f3f3;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.expand-icon-right {
  transform: rotate(-90deg);
}

.search-card-body-item-list-item-desc {
  font-size: 0.875rem;
  font-weight: 500;
  width: 79px;
}

.search-card-body-item-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-lightgrey);
  border-radius: 2rem;
  margin: 1rem auto 0.25rem;
}

.search-card-body-item-footer-btn > .search-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.search-card-body-item-footer-btn-text {
  color: #3c4043;
  font-size: 0.875rem;
  font-weight: 400;
}

.search-card-footer {
  padding-top: 0.5rem;
  border-top: 1px solid var(--border-lightgrey);
}

.search-card-footer-text {
  font-size: 0.6875rem;
  font-style: italic;
  text-align: right;
  color: grey;
}
